* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: 16px;
    line-height: 1;
}

header { 
    font-size: 40px;
    font-weight: bold;
    background-color: darkgray;
    color: whitesmoke;
    text-align: center;
    padding: 25px;
}

container {
    width: 100%;
    padding-top: 20px;
    clear: both;
    float: right;
}

section {
    overflow: auto;
    clear: both;
    width: 100%;
}

#sideNav {
    height: 100%;
    position: fixed;
    top: 90px;
    left: 0;
    background-color: lightgray;
}

h1 {
    font-size: 20px;
    text-align: left;
    padding:20px 0px 10px 5px; 
}

#basic-text1 {
    background-color: lightskyblue;

}

.fas {
    color: whitesmoke;
}

h2 { 
    font-size: 30px;
    text-align: left;
    font-weight: bolder;
    padding: 20px;
}